.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  width: 100vw;
  display: grid;
  grid-row: 2;
  grid-template-rows: 30% 70%;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.content {
  min-width: 600px; 
  min-height: 370px;
  padding: 1rem 3rem;
  border: 2px solid #61dafb;
  border-radius: 8px;
  color: #fff;
  position: relative;
  margin-bottom: 100px;
  
}

/*** Home.js (identity) */

.content h1 span {
  font-weight: lighter;
  font-size:medium;
}

/*** Features.js */

.not-logged {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: large;
  width: 100%;
}

/* .content div{
  margin: 2em;
  
} */

.header {
  margin: 0 auto;
  margin-top: 50px;
  min-width: 300px;
  max-width: 500px;
  border: 2px solid #61dafb;
  display: flex;
  border-radius: 8px;
  color: #61dafb;
  /* padding: 1em 2em; */
}
.header .lnk{
  text-decoration: none;
  
  color: inherit;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.header span {
  padding: .7rem 2rem;
  width: 33%;
  margin: 0;
  border-right: 2px solid #61dafb;
  font-weight: bold;
  
}
.header :nth-child(3) {
  border-right: 0px solid #61dafb;;
}
.l-switched {
  background-color: #61dafb;
  color: #282c34;
}

.content .btn-1 {
  position: absolute;
  bottom: 7%;
  right: 3%;
}
.content .btn-2 {
  position: absolute;
  bottom: 7%;
  right: 15%;
}
.content .btn-3 {
  position: absolute;
  bottom: 7%;
  right: 30%;
}

.grid-form-2 {
  display: grid;
  grid-template-columns: 1.25fr 2.5fr;
  grid-template-rows: 1fr .25fr;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: left;
  transform: translate(-50%, -50%);
  margin: 0;
  justify-content: center;
  align-items: center;
}
.grid-form-1 {
  display: grid;
  
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: left;
  transform: translate(-50%, -50%);
  margin: 0;
  place-items: center;
}
.grid-form * {
  margin: 0;
  height: 2.5em;
  box-sizing: border-box;
}
.grid-form label[for="email"],input[type="text"]{
  margin: 2em 0;
}
.content input[type="text"],input[type="password"]{
  width: 200px
}
.content input[type="submit"]{
  position: absolute;
  right: 5%;
  bottom: 5%;
  padding: 0.2em 2em;
  font-size: large;
}
.logFail{
  position: absolute;
  bottom: 5%;
  left: 30%;
  right: 30%;
  padding: 2% 2em;
  color: rgb(255, 0, 0);
  border: rgb(255, 0, 0) 1px solid;
  border-radius: 5px;
  text-align: center;
}
.logSuccess{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
  padding: 1em 3em;
  font-weight: bold;
  color: rgb(43, 255, 0);
  border: rgb(43, 255, 0) 1px solid;
  border-radius: 5px;
  text-align: center;
}